
// Border colors
$round-xs: 5px; $border-black-bold: 8px solid $black;
$border-tr-bold: 8px solid transparent;
$border-black: 1px solid $black;
$border-white: 2px solid $white;
$border-gray-lt: 1px solid $gray-l;
$border-tr-m: 2px solid transparent;

//$border-warning: 1px solid $red;