// Border-radius
$round-xs: 5px;
$round-lg: 20px;
$round-sm: 4px;
$round-l-tb: 4px 0 0 4px;
$round-r-tb: 0 4px 4px 0;
$round-xx-lg: 35px;
// Height-inputs
$height-input: 36px;
// Set default margin value here
$margin: 1.428rem;//20px
$margin-m: $margin*1.5;//30px
$margin-l: $margin*2.5;//50px
$margin-lg: $margin * 2;// 2.856rem
$margin-md: $margin * 0.75;// 1.071rem//15px
$margin-sm: $margin * 0.5;// 0.714rem//10
$margin-xs: $margin * 0.25;// 0.357rem
