.btn {
  @include ellipsis;
  border: 0;
  font-family: $font-family-base;
  color: $white;
  letter-spacing: $ls-lg;
  //text-shadow: 0 -1px rgba($black, .29);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  @include on-state {
    @include transition-all(0.5s ease-in-out);
    @include opacity(0.8);
  }
}
.btn-red {
  background-color: #ff4e50;
  border-radius: 35px;
  max-width: 225px;
  width: 100%;
  height: 39px;
}